@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,body {
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}

#webcam video{
  position: fixed; /* Position it fixed on the page */
  right: 0;
  bottom: 0;
  min-width: 100%; /* Minimum width of 100% to cover screen */
  min-height: 100%; /* Minimum height of 100% to cover screen */
  width: auto; /* Adjust the width automatically */
  height: auto; /* Adjust the height automatically */
  z-index: -100; /* Place it behind everything else on the page */
  transform: rotateZ(90deg) /*rotateY(180deg) rotateX(-180deg)*/; /* Rotate the video 90 degrees */
  transform-origin: center; /* Set the point around which a rotation happens */
  object-fit: cover; /* Resize the video to cover the area, maintaining aspect ratio */
}
#webcam-instructions {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  color: #fff;
  z-index: 1;
  left: 0;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}